;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================

[colors]
background = ${xrdb:color0:#222}
foreground = ${xrdb:color13:#222}
highlight = ${xrdb:color7:#222}

;  _
; | |__   __ _ _ __ ___
; | '_ \ / _` | '__/ __|
; | |_) | (_| | |  \__ \
; |_.__/ \__,_|_|  |___/

[bar/base]
enable-ipc = true
font-0=DejaVuSans:style=Regular:size=11:antialias=true;3
font-1=FontAwesome6Free:style=Solid:pixelsize=11:antialias=true;2
font-2=FontAwesome6Brands:style=Regular:pixelsize=12:antialias=true;2

padding = 5
border-size = 0
border-color = ${colors.foreground}

height = 32

background = ${colors.background}
foreground = ${colors.foreground}
override-redirect=false
offset-y = 10

wm-restack = bspwm

[bar/ws]
inherit = bar/base
width = 12%

offset-x = 10
line-size = 1

module-margin = 2
modules-left = bspwm bspwm-monocle-nb-windows

[bar/tray]
inherit = bar/base
width = 30.0%
offset-x = 69.60%

modules-right = cpu temperature memory filesystem wired-network wireless-network pulseaudio battery time
tray-position = right
tray-padding = 2
#tray-offset-x = -1.5%

module-margin = 1.9

separator = "|"
separator-padding = 1

;                      _       _
;  _ __ ___   ___   __| |_   _| | ___  ___
; | '_ ` _ \ / _ \ / _` | | | | |/ _ \/ __|
; | | | | | | (_) | (_| | |_| | |  __/\__ \
; |_| |_| |_|\___/ \__,_|\__,_|_|\___||___/

[module/bspwm-monocle-nb-windows]
type = custom/ipc
hook-0 = echo "($(bspc query -N -n .window -d focused | grep -n $(bspc query -N -n) | cut -f1 -d:)/$(bspc query -N -n .window -d focused | wc -l))" # Show number of windows
hook-1 = echo
format-prefix = " "
initial = 1
format-margin = 2

[module/bspwm]
type = internal/bspwm
reverse-scroll = false

label-focused = %icon%
label-focused-underline = ${colors.highlight}
label-focused-foreground = ${colors.highlight}
label-focused-padding = 1

label-occupied = %icon%
label-occupied-foreground = ${colors.highlight}
label-occupied-padding = 1

label-empty = %icon%
label-empty-padding = 1

pin-workspaces = false
enable-scroll = false

ws-icon-0 = I;
ws-icon-1 = II;
ws-icon-2 = III;
ws-icon-3 = X;
ws-icon-default = 

[module/cpu]
type = internal/cpu
interval = 3
label =  %percentage%%

[module/temperature]
type = internal/temperature

label =  %temperature-c%

interval = 5

; Thermal zone to use
; To list all the zone types, run
; $ for i in /sys/class/thermal/thermal_zone*; do echo "$i: $(<$i/type)"; done
; Default: 0
thermal-zone = 0

; Full path of temperature sysfs path
; Use `sensors` to find preferred temperature source, then run
; $ for i in /sys/class/hwmon/hwmon*/temp*_input; do echo "$(<$(dirname $i)/name): $(cat ${i%_*}_label 2>/dev/null || echo $(basename ${i%_*})) $(readlink -f $i)"; done
; to find path to desired file
; Default reverts to thermal zone setting
hwmon-path = /sys/devices/platform/coretemp.0/hwmon/hwmon6/temp1_input

; Base temperature for where to start the ramp (in degrees celsius)
; Default: 0
base-temperature = 20

; Threshold temperature to display warning label (in degrees celsius)
; Default: 80
warn-temperature = 60

[module/memory]
type = internal/memory
interval = 3
label =  %percentage_used%%

[module/filesystem]
type = internal/fs
mount-0 = /
interval = 60
format-mounted = <label-mounted>
label-mounted =   %percentage_used%%

[module/wired-network]
type = internal/network
interface = enp0s13f0u1u4
label-connected =  %local_ip%

[module/wireless-network]
type = internal/network
interface = wlp0s20f3
interval = 15
label-connected =  %essid% (%local_ip%)

[module/pulseaudio]
type = internal/pulseaudio

format-volume-margin = 1
format-volume = <ramp-volume> <label-volume>
label-volume = %percentage:3:3%%
use-ui-max = false
interval = 5

ramp-volume-0 = ""
ramp-volume-1 = ""
ramp-volume-2 = ""

label-muted = "  muted"
label-muted-padding = 0

[module/time]
type = internal/date
interval = 10

date = "%a %d/%m"
time = "%I:%M %p"

label = %date% %time%

[module/battery]
type = internal/battery

label-charging =  %percentage%%
label-discharging = %percentage%%
ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 

format-discharging = <ramp-capacity> <label-discharging>

; This is useful in case the battery never reports 100% charge
full-at = 99

; Use the following command to list batteries and adapters:
; $ ls -1 /sys/class/power_supply/
battery = BAT0
adapter = AC
poll-interval = 60

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = true

[global/wm]
margin-top = 0
margin-bottom = 0

; vim:ft=dosini

